<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Agenda Dinamica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")
    
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="    background: #428bca;"> 
        <div class="container" style="    background: #428bca;">
            <div class="navbar-header" style="background:#2f99c7">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><img style=" height: 51px;width: 65px;float: left; margin-right: 4px; margin-top: 0;" src="~/Content/img/Logo1.PNG" /></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="popUpFora" class="popUpShadowCss"></div>
    <div id="popUp" class="popUpCss">
        <div class="divInterna">
            <label id="txtPopUp" class="cssTextoPopUp"></label>
            <img id="imgFechar" style=" height: 28px; float: right; margin-right:4px; margin-top:4px;" onclick="fecharPopUp()" src="~/Content/img/popup/close.png" />
            <div style=" margin-top: 10px; margin-left: 8px;">
                <table>
                    <tr>
                        <td>
                            <label style="color:#000000">Nome: </label>
                        </td>

                        <td>
                            <label style="color:#000000">Carteirinha:</label>
                        </td>
                        <td>
                           
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="text" id="NomeText" value="" />&nbsp;
                        </td>
                        <td>
                            <input type="number" id="NomeText" value="" />&nbsp;
                        </td>
                        <td>
                          
                        </td>
                    </tr>

                </table>

            </div>
            <div style=" margin-top: 15px; margin-left: 8px;">
                <label style="color:#000000">Documento:   <input type="number" id="NomeText" value="" />&nbsp;</label>
                <label style="color:#000000">Data: <input type="date" id="txtData" value="" /></label>&nbsp;   &nbsp;   &nbsp;
                <label style="color:#000000">Hora: <input type="time" id="NomeText" value="" /></label>
                <img id="imgFechar" style=" height: 60px; float: right;margin-right: 39px; margin-top: 0;" onclick="fecharPopUp()" src="~/Content/img/popup/save.png" />
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</body>
</html>
